.header {
  margin: 0 auto;
  width: var(--container);
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 500ms ease;

  @media (min-width: 1024px) {
    gap: 10px;
    padding: 32px 0;
  }

  @media (min-width: 1200px) {
    gap: 20px;
  }

  @media (min-width: 1408px) {
    max-width: var(--desktop);
  }
}

.logo_wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: transform 0.3s ease, filter 0.3s ease;

  &:hover,
  &:focus {
    filter: drop-shadow(0px 2px 5px #1c16631a)
      drop-shadow(0px 9px 20px #1c16631f) drop-shadow(0px 16px 20px #1c16630d)
      drop-shadow(0px 37px 15px #1c166303) drop-shadow(0px 57px 16px #1c166300);
    transform: scale(1.05);
  }

  @media (min-width: 1024px) {
    gap: 16px;
    & svg {
      width: 68px;
      height: 56px;
    }
  }
}

.logo_text {
  color: var(--main_text_color);
  font-size: var(--fs_xsmall);
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @media (min-width: 768px) {
    font-size: var(--fs_medium);
  }

  @media (min-width: 1024px) {
    font-size: var(--fs_large);
  }
}

.nav {
  display: none;

  @media (min-width: 1024px) {
    display: block;
    flex-shrink: 0;
  }
}

.nav_list {
  display: flex;
  gap: 10px;
  justify-content: space-between;

  @media (min-width: 1200px) {
    gap: 20px;
  }

  @media (min-width: 1328px) {
    gap: 24px;
  }
}

.nav_link {
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  transition: text-shadow 0.3s ease, color 0.3s ease;
  position: relative;

  &:hover,
  &:focus {
    text-shadow: 0.5px 0 currentColor, 0.5px 0 currentColor;
    color: var(--main_color);
  }

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--main_color);
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.3s ease;
  }

  &:hover::after,
  &:focus::after {
    transform: translateX(-50%) scaleX(1);
  }

  @media (min-width: 1200px) {
    font-size: var(--fs_xsmall);
  }
}

.button {
  display: none;

  @media (min-width: 1024px) {
    padding: 10px 16px;
    display: block;
    border-radius: 16px;
    background: var(--main_color);
    text-align: center;
    color: var(--second_text_color);
    font-size: var(--fs_small);
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    position: relative;
    overflow: hidden;
    z-index: 0;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, #3aa0ff 0%, #1a75ff 100%);
      z-index: -1;
      opacity: 0;
      transition: opacity 0.3s ease;
      border-radius: inherit;
    }

    &:hover::before,
    &:focus::before {
      opacity: 1;
    }
  }

  @media (min-width: 1200px) {
    padding: 16px 24px;
  }

  @media (min-width: 1328px) {
    padding: 20px 32px;
    font-size: var(--fs_xsmall);
  }
}

.burger_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid var(--main_color);

  @media (min-width: 1024px) {
    display: none;
  }
}

.line {
  display: block;
  width: 18px;
  height: 2px;
  background-color: var(--main_color);
  border-radius: 1px;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.line:nth-child(1) {
  top: 14px;
}

.line:nth-child(2) {
  top: 19px;
}

.line:nth-child(3) {
  top: 24px;
}

.burger_open .line:nth-child(1) {
  transform: rotate(45deg);
  top: 18px;
}

.burger_open .line:nth-child(2) {
  opacity: 0;
}

.burger_open .line:nth-child(3) {
  transform: rotate(-45deg);
  top: 18px;
}
