.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  padding: 24px;
  border-radius: 24px;
  background: var(--foreground);
  display: flex;
  flex-direction: column;
}

.img {
  width: 80px;
  height: 80px;
  margin-bottom: 24px;
}

.item_header {
  margin-bottom: 16px;
  font-size: var(--fs_large);
  font-style: normal;
  font-weight: 700;
  line-height: 1;
}

.item_text {
  margin-bottom: 16px;
  font-weight: 500;
}

.item_link {
  display: flex;
  width: 72px;
  height: 56px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid var(--main_color);
  margin-left: auto;

  & svg {
    fill: var(--main_color);
    transform: scale(1);
    transition: transform 0.3s ease;
  }

  &:hover,
  &:focus {
    & svg {
      transform: scale(1.5);
    }
  }
}
