.reasons {
  width: 100%;
  padding: 40px 0;
  background: linear-gradient(107.3deg, #ffffff -16.22%, #fff4e4 97.41%);

  @media (min-width: 1024px) {
    padding: 50px 20px;
  }

  @media (min-width: 1250px) {
    padding: 50px 0 125px;
  }
}

.container {
  width: var(--container);
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  font-size: var(--fs_xlarge);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    font-size: var(--fs_mxlarge);
    margin-bottom: 60px;
  }

  @media (min-width: 1024px) {
    font-size: var(--fs_xxlarge);
    margin-bottom: 100px;
  }
}

.list {
  margin-bottom: 40px;

  @media (min-width: 768px) {
    display: flex;
    gap: 20px 20px;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }

  @media (min-width: 1024px) {
    gap: 50px 104px;
    margin-bottom: 100px;
  }
  & > li {
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    border-radius: 24px;
    background-color: var(--background);
    margin-bottom: 16px;
    padding: 71px 28px 40px;
    transition: transform 0.3s ease, filter 0.3s ease;

    &:hover {
      filter: drop-shadow(0px 2px 5px #ff94661a)
        drop-shadow(0px 9px 20px #ffb0881f) drop-shadow(0px 16px 20px #ff94661a)
        drop-shadow(0px 37px 15px #ff94661a)
        drop-shadow(0px 57px 16px #ffb0881f);
      transform: scale(1.01);
    }

    @media (min-width: 768px) {
      max-width: none;
      margin: 0;
      width: calc(100% / 2 - 20px);
    }

    @media (min-width: 1024px) {
      padding: 94px 65px 32px;
      width: calc(100% / 2 - 52px);
      border-radius: 32px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.parHead {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.26;
  letter-spacing: 0.02em;
  color: var(--second_text_color);
  margin: 0 auto;
  padding: 15.5px 24px;
  background: var(--main_color);
  border-radius: 0 0 32px 32px;
  white-space: nowrap;

  @media (min-width: 1024px) {
    text-align: center;
    padding: 18.5px 20px;
    font-size: var(--fs_large);
  }

  @media (min-width: 1280px) {
    width: 80%;
    font-size: var(--fs_xlarge);
  }
}

.reasonsImg {
  background-color: rgba(255, 244, 228, 1);
  width: 132px;
  height: 132px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 16px;

  & img {
    width: 123px;
    height: 123px;
  }

  @media (min-width: 1024px) {
    width: 203px;
    height: 203px;
    margin-bottom: 17px;
    & img {
      width: 185px;
      height: 185px;
    }
  }
}

.parList {
  padding-left: 25px;
  & li {
    list-style: disc;

    &::marker {
      font-size: 0.5em;
    }
  }
  & p {
    font-size: var(--fs_xsmall);
    letter-spacing: 0.03em;
  }

  @media (min-width: 1024px) {
    & li {
      &::marker {
        font-size: 0.8em;
      }
    }
    & p {
      font-size: var(--fs_medium);
      line-height: 1.66;
    }
  }

  @media (min-width: 1280px) {
    & p {
      font-size: var(--fs_large);
    }
  }
}
