.reasons {
  margin: 0 auto;
  width: var(--container);
  padding-bottom: 96px;

  @media (min-width: 768px) {
    padding-bottom: 125px;
  }

  @media (min-width: 1024px) {
    padding-bottom: 160px;
  }
  @media (min-width: 1408px) {
    max-width: var(--desktop);
  }
}

.item {
  margin-bottom: 96px;
  &:last-child {
    margin-bottom: 0;
  }
  @media (min-width: 768px) {
    margin-bottom: 125px;
    display: flex;
    gap: 16px;
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  @media (min-width: 1024px) {
    margin-bottom: 160px;
    gap: 32px;
  }
}

.image {
  width: 100%;
  height: auto;
  margin-bottom: 32px;
  flex-shrink: 0;
  @media (min-width: 768px) {
    margin-bottom: 0;
    width: 30%;
  }

  @media (min-width: 1024px) {
    display: none;
  }
}

.image_desk {
  display: none;
  @media (min-width: 1024px) {
    display: block;
    height: auto;
    flex-shrink: 0;
    width: 40%;
    object-fit: cover;
  }
}

.par {
  margin-bottom: 40px;
}

.par_head {
  font-size: var(--fs_mxlarge);
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 32px;

  @media (min-width: 1024px) {
    font-size: var(--fs_xxlarge);
    line-height: 1;
    margin-bottom: 40px;
  }
}

.par_text {
  margin-bottom: 16px;

  @media (min-width: 768px) {
    font-size: var(--fs_xsmall);
  }

  @media (min-width: 1024px) {
    font-size: var(--fs_medium);
    margin-bottom: 24px;
  }
}

.par_text_second {
  @media (min-width: 768px) {
    font-size: var(--fs_xsmall);
  }

  @media (min-width: 1024px) {
    font-size: var(--fs_medium);
  }
}

.button_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  @media (min-width: 768px) {
    gap: 12px;
  }

  @media (min-width: 1024px) {
    gap: 16px;
  }
}

.button {
  width: auto;
  display: inline-flex;
  padding: 16px 16px 16px 24px;
  gap: 6px;
  border-radius: 16px;
  background: var(--main_color);
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 0;

  & svg {
    fill: var(--second_text_color);
  }

  @media (min-width: 1024px) {
    padding: 20px 24px 20px 32px;
    gap: 16px;
  }
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #3aa0ff 0%, #1a75ff 100%);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: inherit;
}

.button:hover::before,
.button:focus::before {
  opacity: 1;
}

.button_text {
  color: var(--second_text_color);
  font-size: var(--fs_xsmall);
  font-style: normal;
  font-weight: 600;
  line-height: 1;
}

.button_support {
  display: inline-flex;
  padding: 16px 9px 16px 24px;
  align-items: center;
  gap: 6px;
  border-radius: 16px;
  border: 1px solid var(--main_color);
  transform: scale(1);
  transition: transform 0.5s ease;
  & svg {
    fill: var(--main_color);
  }

  @media (min-width: 1024px) {
    padding: 16px 32px;
  }
}

.button_support:hover,
.button_support:focus {
  transform: scale(1.03);
}

.button_text_support {
  color: var(--main_color);
  font-size: var(--fs_xsmall);
  font-style: normal;
  font-weight: 600;
  line-height: 1;
}
